@import "./libs/reset.css";
@import "./vars.css";

/* Fonts */
@font-face {
  font-family: "Raleway";
  src: url(./../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "TTRamillas";
  src: url(./../fonts/TT-Ramillas/tt-ramillas-w03-regular.otf);
}

body {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 141%;

  color: var(--color-1);
}
img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  line-height: 0;
}

/* Container */
.container {
  max-width: 1295px;
  padding: 0 10px;
  margin: 0 auto;
}
.container--2 {
  max-width: 1560px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Titles */
.title--1,
.title--2,
.title--3,
.title--4 {
  font-family: "TTRamillas";
  font-style: normal;
  font-weight: 400;

  color: var(--color-1);
}
.title--1 {
  font-size: 86px;
  line-height: 116%;
}
.title--2 {
  font-size: 72px;
  line-height: 111%;
}
.title--3 {
  font-size: 44px;
  line-height: 118%;
}
.title--4 {
  font-size: 32px;
  line-height: 119%;
}

.title--5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  color: var(--color-1);
}

/* Paragraph */

/* Btns */
.btn--1 {
}

/* Preview-card */
.preview-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}
.preview-card__img-wrapper {
  position: relative;
  line-height: 0;
  margin-bottom: 16px;
}
.preview-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.preview-card__hover {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: rgba(var(--color-1-RGB), 0.4);

  opacity: 0;

  -webkit-transition: opacity var(--transition-duration-hover);
  -o-transition: opacity var(--transition-duration-hover);
  -moz-transition: opacity var(--transition-duration-hover);
  transition: opacity var(--transition-duration-hover);
}
.preview-card__hover-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  border: 1px solid var(--color-4);

  color: var(--color-4);
}
.preview-card:hover .preview-card__hover {
  opacity: 1;
}
.preview-card__link {
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1.5px solid var(--color-1);

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.preview-card__link-img {
  width: 16px;
  height: 16px;
}
