:root {
  --color-1: #282828;
  --color-1-RGB: 40, 40, 40;
  --color-2: #666666;
  --color-2-RGB: 102, 102, 102;
  --color-3: #f2f2f2;
  --color-3-RGB: 242, 242, 242;
  --color-4: #ffffff;
  --color-4-RGB: 255, 255, 255;
  --color-5: #ebebeb;
  --color-6: #b3b3b2;

  --color-error: #fb5353;

  --transition-duration-hover: 0.4s;
}
