:root {
  --color-1: #282828;
  --color-1-RGB: 40, 40, 40;
  --color-2: #666666;
  --color-3: #f2f2f2;
  --color-3-RGB: 242, 242, 242;
  --color-4: #ffffff;
  --color-4-RGB: 255, 255, 255;
  --color-5: #ebebeb;
  --color-6: #b3b3b2;

  --transition-duration-hover: 0.4s;
}

/* test */
.fancybox__content {
}
.f-button {
  /* background-color: red; */
}
.gallery__close-btn.is-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 34px;
  right: 50px;
  padding: 10px;

  --f-button-svg-stroke-width: 2;

  -webkit-box-sizing: content-box;

  -moz-box-sizing: content-box;

  box-sizing: content-box;

  background-color: transparent;
}

.f-button.is-prev {
  margin-left: 100px;
}
.f-button.is-next {
  margin-right: 100px;
}
