@import "./../components/header.css";
@import "./../components/footer-contact.css";

@import "./../components/catalog.css";

@import "./../components/from-strength-to-aesthetics.css";

@import "./../components/we-in-touch.css";

.main--catalog {
  margin-top: 80px;
}

@media (max-width: 800px) {
  .main--catalog {
    margin-top: 41px;
  }
}

@media (max-width: 600px) {
  .main--catalog {
    margin-top: 17px;
  }
}
