@import "./../components/header.css";
@import "./../components/footer-contact.css";

@import "./../components/product.css";
@import "./../components/product-gallery.css";
@import "./../components/furniture-and-accessories.css";

@import "./../components/other-collection.css";

@import "./../components/we-in-touch.css";

@import "./../components/popups/pre-order-popup.css";
@import "./../components/popups/form-state.css";
.main--product {
  margin-top: 91px;
}

@media (max-width: 800px) {
  .main--product {
    margin-top: 40px;
  }
}
@media (max-width: 460px) {
  .main--product {
    margin-top: 20px;
  }
}
