@import "./../components/header.css";
@import "./../components/footer-contact.css";

@import "./../components/project-hero.css";
@import "./../components/project-info.css";
@import "./../components/project-gallery.css";
@import "./../components/products-from-project.css";
@import "./../components/next-project.css";

.main--project {
  margin-top: 84px;
}
@media (max-width: 1000px) {
  .main--project {
    margin-top: 40px;
  }
}
@media (max-width: 460px) {
  .main--project {
    margin-top: 15px;
  }
}
