@import "./../components/header.css";
@import "./../components/footer-contact.css";

@import "./../components/search.css";
@import "./../components/we-in-touch.css";

.main--search {
  margin-top: 86px;
}

.main--search .we-in-touch__inner {
  margin-bottom: 82px;
}

@media (max-width: 800px) {
  .main--search {
    margin-top: 40px;
  }
  .main--search .we-in-touch__inner {
    margin-bottom: 37px;
  }
}

@media (max-width: 460px) {
  .main--search {
    margin-top: 16px;
  }
  .main--search .we-in-touch__inner {
    margin-bottom: 23px;
  }
}
