.catalog-filter {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all, 0.5s;

  -o-transition: all, 0.5s;

  -moz-transition: all, 0.5s;

  transition: all, 0.5s;
}

.catalog-filter__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--color-1-RGB), 0.1);
  z-index: 3;

  -webkit-transition: all, 0.5s;

  -o-transition: all, 0.5s;

  -moz-transition: all, 0.5s;

  transition: all, 0.5s;
}
.catalog-filter--open {
  visibility: visible;
  opacity: 1;
}
.catalog-filter--open .catalog-filter__bg {
  background-color: rgba(var(--color-1-RGB), 0.7);
}
.catalog-filter__body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  max-width: 720px;
  width: 100%;
  padding: 32px 40px 60px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  overflow-y: auto;

  -webkit-transform: translateX(120%);
  -moz-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  transition: all, 0.5s;

  background-color: var(--color-1);
}
.catalog-filter__body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.catalog-filter__body::-webkit-scrollbar-track {
  background-color: rgba(var(--color-3-RGB), 0.5);
}
.catalog-filter__body::-webkit-scrollbar-thumb {
  background-color: var(--color-3);
}

.catalog-filter--open .catalog-filter__body {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.catalog-filter__close {
  position: relative;
  z-index: 5;
  margin-left: auto;
  display: block;
  margin: -15px -15px 4px auto;
  padding: 15px;
}

.catalog-filter__title {
  margin-bottom: 24px;
  color: var(--color-4);
}

.catalog-filter__form {
  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.catalog-filter__form-btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.catalog-filter__form-btn-reset {
  margin-right: 32px;
  padding: 16px;
  max-width: 200px;
  width: 100%;

  border-color: var(--color-4);
  color: var(--color-4);
}
.catalog-filter__form-btn-submit {
  max-width: 280px;
  width: 100%;
}

/* Accordion */
.catalog-filter__accordions {
  margin-bottom: 40px;
}
.catalog-filter__accordion {
  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  transition: all, 0.5s;
  border-bottom: 1px solid rgba(var(--color-4-RGB), 0.5);
}
.catalog-filter__accordion:not(:last-child) {
  margin-bottom: 32px;
}
.catalog-filter__accordion-btn {
  position: relative;
  padding-right: 40px;
  padding-bottom: 12px;

  color: var(--color-4);

  cursor: pointer;
}
.catalog-filter__accordion-btn::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  background-image: url(./../../img/icons/accordion.svg);
  background-repeat: no-repeat;

  -webkit-transition: all, 0.5s;

  -o-transition: all, 0.5s;

  -moz-transition: all, 0.5s;

  transition: all, 0.5s;
}

.catalog-filter__accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  will-change: max-height;

  -webkit-transition: all, 0.5s;

  -o-transition: all, 0.5s;

  -moz-transition: all, 0.5s;

  transition: all, 0.5s;
}
.catalog-filter__accordion--open {
  padding-bottom: 23px;
}
.catalog-filter__accordion--open .catalog-filter__accordion-content {
  overflow: visible;
  opacity: 1;
}
/*  */

.catalog-filter__accordion--open .catalog-filter__accordion-btn::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-80%) rotate(180deg);
}

/* Checkboxs */
.catalog-filter__label {
  position: relative;
  display: block;
  cursor: pointer;
}

.catalog-filter__label-text {
  position: relative;
  display: block;
  width: 100%;

  font-size: 13px;
  line-height: 138%;

  text-align: center;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  -moz-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--color-4);

  -webkit-transition: all, 0.5s;

  -o-transition: all, 0.5s;

  -moz-transition: all, 0.5s;

  transition: all, 0.5s;
}
.catalog-filter__input-checkbox {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  width: 0;
  height: 0;
}
.catalog-filter__input-custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: 1px solid rgba(var(--color-3-RGB), 0.5);

  -webkit-transition: all, 0.5s;

  -o-transition: all, 0.5s;

  -moz-transition: all, 0.5s;

  transition: all, 0.5s;
}

/* Type */
.catalog-filter__accordion-content--type {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px 20px;
}
.catalog-filter__label--type {
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 187px;

  border-width: 1px;
}
.catalog-filter__type-img {
  max-width: 129px;
  height: 136px;
  margin-bottom: 12px;
}

.catalog-filter__label-text-icon {
  opacity: 0;
  margin-right: -19px;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  transition: all, 0.5s;
}
.catalog-filter__accordion-content--type
  .catalog-filter__input-checkbox:checked
  + .catalog-filter__input-custom-checkbox {
  background-color: var(--color-4);
  border-color: rgba(var(--color-3-RGB), 1);
}
.catalog-filter__input-checkbox:checked ~ .catalog-filter__label-text {
  font-weight: 600;

  color: var(--color-1);
}

.catalog-filter__input-checkbox:checked
  ~ .catalog-filter__label-text
  .catalog-filter__label-text-icon {
  padding-right: 3px;
  margin-right: 0px;

  opacity: 1;

  -webkit-transform: scale(1) translate(-2px, 1px);

  -moz-transform: scale(1) translate(-2px, 1px);

  -ms-transform: scale(1) translate(-2px, 1px);

  -o-transform: scale(1) translate(-2px, 1px);

  transform: scale(1) translate(-2px, 1px);
}

/* Материал */
.catalog-filter__accordion-content--material {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.catalog-filter__label--material {
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 21.5px;
  margin-bottom: 17px;

  border: 1px solid transparent;
}
.catalog-filter__label--material .catalog-filter__label-text {
  font-size: 15px;
  line-height: 133%;
}
.catalog-filter__label--material
  .catalog-filter__input-checkbox:checked
  + .catalog-filter__input-custom-checkbox {
  background-color: var(--color-4);
  border-color: rgba(var(--color-3-RGB), 1);
}

.catalog-filter__input-checkbox:checked ~ .catalog-filter__label-text {
  font-weight: 500;

  color: var(--color-1);
}

/* size */
.catalog-filter__accordion-content--size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-filter__selectors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: start;

  width: 100%;
  margin-right: 31px;
}

.catalog-filter__door-icon {
  margin-left: auto;
  display: block;
  min-width: 167px;
}
/* Select */

.catalog-filter .select-selected {
  width: 100%;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0;
  border: 1px solid var(--color-4);

  font-family: "Raleway";

  font-size: 15px;
  line-height: 133%;

  color: var(--color-4);
}
.catalog-filter .select-selected::after {
  margin-left: auto;

  width: 16px;
  height: 8px;

  background-image: url(./../../img/icons/accordion.svg);
}

.catalog-filter .select-items {
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
}

.catalog-filter__selectors .select.select--active {
  background-color: var(--color-3);
}
.catalog-filter__selectors .select--active .select-selected {
  color: var(--color-1);
}
.catalog-filter .select--active .select-selected::after {
  -webkit-filter: invert(1);
  filter: invert(1);
}

@media (max-width: 769px) {
  .catalog-filter__body {
    max-width: 620px;
    padding: 24px;
  }
  .catalog-filter__close {
    margin: -15px -15px -28px auto;
    padding: 15px 15px 15px 15px;
  }
  .catalog-filter__title {
    font-size: 32px;

    margin-bottom: 21px;
  }

  .catalog-filter__label--type {
    min-height: 166px;
    padding: 8px;
  }
  .catalog-filter__label--type .catalog-filter__label-text {
    font-size: 13px;
    padding: 6px 0;
    line-height: 138%;
  }
  .catalog-filter__label--type .catalog-filter__type-img {
    margin: 0 auto 8px auto;
    max-width: 100%;
    width: 100%;
    height: 112px;
  }
  .catalog-filter__accordion-content--type
    .catalog-filter__input-checkbox:checked
    ~ .catalog-filter__label-text
    .catalog-filter__label-text-icon {
    width: 10px;
    height: 7.41px;
    margin-right: -10px;
    -webkit-transform: scale(1) translate(-8px, 1px);
    -moz-transform: scale(1) translate(-8px, 1px);
    -ms-transform: scale(1) translate(-8px, 1px);
    -o-transform: scale(1) translate(-8px, 1px);
    transform: scale(1) translate(-8px, 1px);
  }

  .catalog-filter__accordion--open {
    padding-bottom: 10px;
  }

  .catalog-filter__selectors {
    margin-right: 24px;
  }
}
@media (max-width: 630px) {
  .catalog-filter__body {
    padding: 24px 8px 24px 12px;
  }
  .catalog-filter__accordion-content--type {
    grid-template-columns: repeat(3, 1fr);
  }
  .catalog-filter__close {
    margin: 0 -5px -0 auto;
    padding: 5px;
  }

  .catalog-filter__accordion-content--size {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .catalog-filter__selectors {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .catalog-filter__door-icon {
    margin-left: 0;
    margin-right: auto;
    min-width: 139px;
    width: 139px;
    height: 250px;
    min-height: 250px;
  }
}
@media (max-width: 460px) {
  .catalog-filter__body {
    padding: 18px 8px 24px 12px;
  }
  .catalog-filter__accordions {
    margin-bottom: 33px;
  }
  .catalog-filter__accordion:not(:last-child) {
    margin-bottom: 33px;
  }
  .catalog-filter__accordion-btn {
    padding-bottom: 10px;
  }
  .catalog-filter__accordion-btn::after {
    top: 39%;
    right: 4px;
  }
  .catalog-filter__accordion-content--type {
    grid-template-columns: repeat(2, 1fr);
  }
  .catalog-filter__label--type .catalog-filter__type-img {
    height: 150px;
    max-height: 150px;
  }
  .catalog-filter__label--material {
    padding: 8px;
    margin-right: 14px;
    margin-bottom: 14px;
  }
  .catalog-filter__label--material .catalog-filter__label-text {
    font-size: 13px;
    line-height: 138%;
  }

  .catalog-filter__close {
    margin: 4px 0px -16px auto;
  }
  .catalog-filter__title {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: -20px;
  }

  .catalog-filter__label--type .catalog-filter__label-text {
    padding: 4px 0;
  }

  .catalog-filter__accordion--open {
    padding-bottom: 14px;
  }

  .catalog-filter__label--material
    .catalog-filter__input-checkbox:checked
    ~ .catalog-filter__label-text
    .catalog-filter__label-text-icon {
    margin-right: 4px;
    -webkit-transform: scale(1.2) translate(0px, 0px);
    -moz-transform: scale(1.2) translate(0px, 0px);
    -ms-transform: scale(1.2) translate(0px, 0px);
    -o-transform: scale(1.2) translate(0px, 0px);
    transform: scale(1.2) translate(0px, 0px);
  }
  .catalog-filter__label--material
    .catalog-filter__input-checkbox:checked
    ~ .catalog-filter__label-text
    .catalog-filter__label-text-icon {
    width: 12px;
    height: 8.89px;
  }

  .catalog-filter__accordion-content--type
    .catalog-filter__input-checkbox:checked
    ~ .catalog-filter__label-text
    .catalog-filter__label-text-icon {
    width: 11px;
    height: 7.41px;
    margin-right: 2px;

    -webkit-transform: scale(1.4) translate(-1px, -1px);

    -moz-transform: scale(1.4) translate(-1px, -1px);

    -ms-transform: scale(1.4) translate(-1px, -1px);

    -o-transform: scale(1.4) translate(-1px, -1px);

    transform: scale(1.4) translate(-1px, -1px);
  }

  .catalog-filter__form-btn-reset {
    margin-right: 17px;
    max-width: 120px;
    padding: 11px 4px;
  }
  .catalog-filter__form-btn-submit {
    max-width: 199px;
  }

  .catalog-filter .select-selected {
    font-size: 13px;
    line-height: 138%;
  }
  .catalog-filter .select-items div {
    font-size: 13px;
    line-height: 138%;
  }
}
