@import "./catalog-filter.css";
@import "./products-grid.css";

.catalog__inner {
  padding-bottom: 127px;
  border-bottom: 1px solid var(--color-6);
}
.catalog__title {
  margin: 11px 0 40px 0;
}

.catalog__tabs {
  margin-bottom: 31px;
}

.catalog__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}

.catalog__quantity {
}

.catalog__selector-btn,
.catalog__filter-btn {
  position: relative;
  display: inline-block;

  letter-spacing: 0.025em;
}
.catalog__selector-btn::after,
.catalog__filter-btn::after {
  content: "";
  position: absolute;

  top: 50%;

  -webkit-transform: translateY(-50%);

  -moz-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  -o-transform: translateY(-50%);

  transform: translateY(-50%);

  background-position: center center;
  background-repeat: no-repeat;
}

.catalog__selector-btn {
  margin-right: 20px;
  padding-right: 13px;
}
.catalog__selector-btn::after {
  right: 0;

  width: 8px;
  height: 8px;

  background-image: url(./../../img/icons/selector.svg);
}

.catalog__filter-btn {
  padding-left: 52px;
}
.catalog__filter-btn::after {
  width: 24px;
  height: 24px;

  left: 16px;

  background-image: url(./../../img/icons/filter.svg);
}

.catalog__list {
  margin-bottom: 117px;
}

.catalog__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .catalog__item--9,
  .catalog__item--10,
  .catalog__item--11,
  .catalog__item--12,
  .catalog__item--13,
  .catalog__item--14,
  .catalog__item--15,
  .catalog__item--16,
  .catalog__item--17,
  .catalog__item--18,
  .catalog__item--19,
  .catalog__item--20,
  .catalog__item--21,
  .catalog__item--22,
  .catalog__item--23,
  .catalog__item--24 {
    display: none;
  }

  .catalog__list {
    grid-gap: 100px 0;
  }

  .catalog__item--1 .product-item__img,
  .catalog__item--4 .product-item__img,
  .catalog__item--4 .product-item__img,
  .catalog__item--5 .product-item__img,
  .catalog__item--8 .product-item__img {
    max-height: 384px;
  }

  .catalog__item--2 .product-item__img,
  .catalog__item--3 .product-item__img,
  .catalog__item--6 .product-item__img,
  .catalog__item--7 .product-item__img {
    max-height: 260px;
    min-height: 260px;
  }

  .catalog__item--1 {
    margin-right: -3%;
    grid-column: 1/18;
  }

  .catalog__item--2 {
    margin-right: 0;
    margin-left: -2%;
    grid-column: 21/34;
  }

  .catalog__item--3 {
    margin-right: -1%;
    margin-left: 0;
    grid-column: 1/14;
  }

  .catalog__item--4 {
    grid-column: 16/33;
    margin-left: 2%;
  }

  .catalog__item--5 {
    margin-right: -4%;
    grid-column: 8/25;
  }

  .catalog__item--6 {
    grid-column: 28/41;
    margin-left: -1%;
  }

  .catalog__item--7 {
    grid-column: 8/21;
    margin-right: -2%;
  }
  .catalog__item--8 {
    margin-left: 2%;
    margin-right: 0;
    grid-column: 23/41;
  }
}

@media (max-width: 800px) {
  .catalog__inner {
    padding-bottom: 68px;
  }
  .catalog__top {
    margin-bottom: 32px;
  }
  .catalog__title {
    margin-bottom: 24px;

    font-size: 54px;
    line-height: 115%;
  }
  .catalog__tabs {
    margin-bottom: 24px;
  }

  .catalog__selector-btn,
  .catalog__filter-btn,
  .catalog__quantity {
    font-size: 17px;
  }

  .catalog__list {
    grid-gap: 59px 0;
    margin-bottom: 80px;
  }
}

@media (max-width: 600px) {
  .catalog__item--8 {
    display: none;
  }

  .catalog__list {
    grid-gap: 44px 0;
  }

  .catalog__inner {
    padding-bottom: 40px;
  }

  .catalog__title {
    margin-bottom: 16px;

    font-size: 28px;
    line-height: 114%;
  }

  .catalog__tabs {
    margin-bottom: 12px;
  }
  .catalog__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: self-start;
    -webkit-align-items: self-start;
    -moz-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
    margin-bottom: 44px;
  }
  .catalog__controllers {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
  }
  .catalog__list {
    margin-bottom: 44px;
  }

  /* items */

  .catalog__item--1 .product-item__img,
  .catalog__item--4 .product-item__img,
  .catalog__item--7 .product-item__img {
    height: 100%;
    max-height: 100%;
  }
  .catalog__item--2 .product-item__img,
  .catalog__item--3 .product-item__img,
  .catalog__item--5 .product-item__img,
  .catalog__item--6 .product-item__img {
    min-height: 350px;
    max-height: 100%;
    height: 100%;
  }

  .catalog__item--1,
  .catalog__item--7 {
    grid-column: 1/38;
    margin-right: 0;
  }
  .catalog__item--2,
  .catalog__item--6 {
    grid-column: 12/41;
    margin: 0 0 0 1%;
  }
  .catalog__item--3,
  .catalog__item--5 {
    grid-column: 1/30;
    margin: 0 1% 0 0;
  }
  .catalog__item--4 {
    grid-column: 4/41;
    margin: 0;
  }
}
@media (max-width: 460px) {
  .catalog__item--1 .product-item__img,
  .catalog__item--4 .product-item__img,
  .catalog__item--7 .product-item__img {
    height: 372.2px;
    max-height: 372.2px;
  }
  .catalog__item--2 .product-item__img,
  .catalog__item--3 .product-item__img,
  .catalog__item--5 .product-item__img,
  .catalog__item--6 .product-item__img {
    min-height: 320px;
    max-height: 320px;
    height: 100%;
  }
}
