.coworking-reviews__inner {
  margin-bottom: 50px;
}
.coworking-reviews__container {
  max-width: 1266px;
}
.coworking-reviews__inner {
  margin-right: -12%;
}
.coworking-reviews__title {
  margin-bottom: 103px;
}
/* Текст отзыва */
.coworking-reviews__slider-review {
  max-width: 500px;
  margin-left: auto;
  margin-right: 9.6%;
}

.coworking-reviews__item-review {
  opacity: 0;
  width: 0;
  height: 0;
  /* max-width: 0; */
}
.coworking-reviews__item-review.swiper-slide-active {
  max-width: 0;
}
.coworking-reviews__item-review.swiper-slide-next {
  opacity: 1;
  min-width: 500px;
  max-width: 500px;

  height: auto;

  -webkit-animation-name: rewievText;

  -moz-animation-name: rewievText;

  -o-animation-name: rewievText;

  animation-name: rewievText;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.coworking-reviews__paragraph {
  margin-bottom: 22px;
}
.coworking-reviews__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
}
/* Картинкр */
.coworking-reviews__slider {
  margin-top: -7%;
  padding-top: 14%;
}
.coworking-reviews__controlers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 54%;
  margin-left: auto;
  margin-bottom: 20px;
}
.coworking-reviews__pagination {
  width: auto;
  font-size: 17px;
  line-height: 141%;
}

.coworking-reviews__item {
  height: 371px;

  -webkit-transition: all, 0.5s;

  -o-transition: all, 0.5s;

  -moz-transition: all, 0.5s;

  transition: all, 0.5s;
}
.coworking-reviews__item img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

  -webkit-transition: all, 1s;

  -o-transition: all, 1s;

  -moz-transition: all, 1s;

  transition: all, 1s;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.coworking-reviews__item.swiper-slide-next {
  min-width: 24.97%;
  -webkit-transform: translateY(-44%);
  -moz-transform: translateY(-44%);
  -ms-transform: translateY(-44%);
  -o-transform: translateY(-44%);
  transform: translateY(-44%);
  height: auto;
}
.coworking-reviews__item.swiper-slide-next img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@media (max-width: 1600px) {
  .coworking-reviews__inner {
    margin-right: 0;
  }
  .coworking-reviews__container {
    max-width: 1560px;
  }
}
@media (max-width: 1200px) {
  .coworking-reviews__controlers {
    max-width: 46%;
  }
  .coworking-reviews__slider-review {
    margin-right: 0;
    max-width: 46%;
  }
  .coworking-reviews__item-review.swiper-slide-next {
    min-width: 100%;
  }

  .coworking-reviews__title {
    margin-bottom: 20px;
  }
  .coworking-reviews__slider {
    margin-top: -10%;
    padding-top: 14%;
  }
}

@media (max-width: 900px) {
  .coworking-reviews__title {
    margin-bottom: 45px;
  }

  .coworking-reviews__paragraph {
    font-size: 15px;
    line-height: 133%;
    margin-bottom: 16px;
  }
  .coworking-reviews__slider-review {
    margin-right: 5.45%;
    max-width: 47%;
    /* 343px */
  }

  /* img slide */
  .coworking-reviews__slider {
    margin-right: -20px;
    padding-right: 20px;
    margin-top: 10.5%;
    padding-top: 20.8%;
  }

  .coworking-reviews__controlers {
    margin-bottom: 8px;
    max-width: 49.8%;
  }
  .coworking-reviews__pagination {
    font-size: 13px;
    line-height: 138%;
    margin-right: 7.7%;
  }
  .coworking-reviews__list {
    /* -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; */
  }
  .coworking-reviews__item {
    height: 182px;
  }
  .coworking-reviews__item.swiper-slide-next {
    min-width: 27.5%;

    -webkit-transform: translateY(-51.5%) scaleY(1.15);

    -moz-transform: translateY(-51.5%) scaleY(1.15);

    -ms-transform: translateY(-51.5%) scaleY(1.15);

    -o-transform: translateY(-51.5%) scaleY(1.15);

    transform: translateY(-51.5%) scaleY(1.15);
  }
}
@media (max-width: 800px) {
  .coworking-reviews__inner {
    margin-bottom: 9px;
  }
}

@media (max-width: 700px) {
  .coworking-reviews__title {
    margin-bottom: 32px;
  }

  .coworking-reviews__slider-review {
    max-width: 84%;
    min-width: 281px;
    margin-right: 0;
  }
  .coworking-reviews__name {
    font-size: 17px;
  }
  .coworking-reviews__paragraph {
    margin-bottom: 13px;
  }

  .coworking-reviews__slider-review {
    max-width: 100%;
    padding-right: 69px;
    min-width: 281px;
  }
  .coworking-reviews__item-review {
    max-width: auto;
  }

  .coworking-reviews__item-review.swiper-slide-next {
    min-width: 0;
    max-width: 0;
    max-height: 0;
    opacity: 0;
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    animation-name: none;
  }

  .coworking-reviews__item-review.swiper-slide-active {
    opacity: 1;
    min-width: 280px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin-left: -3px;
  }

  .coworking-reviews__slider {
    margin: 44px -12px 0 -12px;
    padding: 0 12px;
  }
  .coworking-reviews__controlers {
    position: relative;
    max-width: 100%;
    margin: 0 12px 12px 12px;
  }
  .coworking-reviews__pagination {
    text-align: center;
    margin: 0 20px;
    width: 100%;
  }

  .coworking-reviews__slider-arrows {
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .coworking-reviews__list {
    padding-top: 59px;
  }

  .coworking-reviews__item {
    height: 280px;
    max-height: 280px;
  }
  .coworking-reviews__item.swiper-slide-active {
    min-width: 59.525%;
    height: 340px;
    min-height: 340px;
    height: 340px;

    -webkit-transform: translateY(-18%);

    -moz-transform: translateY(-18%);

    -ms-transform: translateY(-18%);

    -o-transform: translateY(-18%);

    transform: translateY(-18%);
  }
  .coworking-reviews__item.swiper-slide-active img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .coworking-reviews__item.swiper-slide-next {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    min-width: auto;
  }

  .coworking-reviews__item.swiper-slide-next img {
    -webkit-filter: none;
    filter: grayscale(1);
  }
}

@media (max-width: 460px) {
  .coworking-reviews__title br {
    display: none;
  }
}
@-webkit-keyframes rewievText {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes rewievText {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes rewievText {
  0% {
    opacity: 0;
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes rewievText {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
