.floors-not-afraid-moisture__inner {
  margin-bottom: 321px;
}

.floors-not-afraid-moisture__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.floors-not-afraid-moisture__img--1 {
  margin-top: 8.9%;
  max-width: 795px;
  max-height: 500px;
}
.floors-not-afraid-moisture__info {
  max-width: 367px;
  margin-top: 4.2%;
}
.floors-not-afraid-moisture__img--2 {
  max-height: 250px;
  margin-bottom: 12.3%;
}
