.from-strength-to-aesthetics {
}
.from-strength-to-aesthetics__inner {
  padding: 201px 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.from-strength-to-aesthetics__title {
  max-width: 500px;
  margin: 0 0 34.5% 0.7%;
}
.from-strength-to-aesthetics__box {
  max-width: 615px;
  width: 100%;
}
.from-strength-to-aesthetics__img-1 {
  width: 280px;
  height: 280px;
  margin: 0 0 0 auto;
}
.from-strength-to-aesthetics__img-2 {
  max-width: 550px;
  max-height: 550px;
  width: 100%;
  height: 100%;
}
.from-strength-to-aesthetics__info {
  margin-left: 3%;
}
.from-strength-to-aesthetics__link {
  margin: 12% 0px 0% 0.5%;
}
.from-strength-to-aesthetics__paragraph {
  display: none;
  max-width: 300px;
  margin-bottom: 44px;

  font-size: 17px;
  line-height: 141%;

  -webkit-font-feature-settings: "pnum" on, "lnum" on;

  -moz-font-feature-settings: "pnum" on, "lnum" on;

  font-feature-settings: "pnum" on, "lnum" on;
}
.from-strength-to-aesthetics__link--mob {
  display: none;
}
@media (max-width: 1200px) {
  .from-strength-to-aesthetics__box {
    max-width: 480px;
  }
}
@media (max-width: 1000px) {
  .from-strength-to-aesthetics__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    padding: 100px 0;
  }
  .from-strength-to-aesthetics__title {
    max-width: 510px;
    margin: 0 0 16px 0;
  }
  .from-strength-to-aesthetics__paragraph {
    display: block;
  }
  .from-strength-to-aesthetics__img-1 {
    display: none;
  }
  .from-strength-to-aesthetics__img-2 {
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    height: 380px;
  }
  .from-strength-to-aesthetics__info {
    margin-left: 0;
  }
  .from-strength-to-aesthetics__link {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    margin: 32px 22.35% 0 auto;
    font-size: 20px;
    line-height: 140%;
  }
  .from-strength-to-aesthetics__link::after {
    opacity: 1;
    bottom: -12px;
  }
  .from-strength-to-aesthetics__link::before {
    opacity: 1;
  }
  .from-strength-to-aesthetics__link--pc {
    display: none;
  }
  .from-strength-to-aesthetics__link--mob {
    display: block;
  }
}
@media (max-width: 800px) {
  .from-strength-to-aesthetics__title {
    max-width: 341px;
  }
}
@media (max-width: 600px) {
  .from-strength-to-aesthetics__link {
    margin-left: 0;
    margin-right: auto;
    font-size: 17px;
    line-height: 141%;
  }
}
