@import "./menu.css";
@import "./header-search.css";
.header--bg {
  background-color: var(--color-3);
}
.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 36px 0;
}
.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;

  width: 120px;
  /* height: 46px; */
}

.header__search-btn {
  margin-right: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header__search-btn svg {
  width: 32px;
  height: 32px;
  stroke: var(--color-1);
}
.header__menu-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
}
.header__menu-btn svg {
  margin-right: 12px;
  width: 32px;
  height: 32px;
}

@media (max-width: 800px) {
  .header__inner {
    padding: 20px 0;
  }
  .header__logo {
    width: 80px;
    /* height: 30px; */
  }

  .header__menu-btn {
    font-size: 15px;
    line-height: 133%;
  }
  .header__menu-btn svg {
    width: 24px;
    height: 24px;
  }
  .header__search-btn {
    margin-right: 22px;
  }
  .header__search-btn svg {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 400px) {
  .header__inner {
    padding: 12px 0;
  }
  .header__logo {
    width: 60px;
  }
  .header__menu-btn {
    font-size: 0;
    line-height: 0;
  }

  .header__menu-btn svg {
    margin-right: 0;
  }

  .header__search-btn {
    margin-right: 20px;
  }
}
