.portfolio-preview {
  background-color: var(--color-3);
}
.portfolio-preview__inner {
  padding: 203px 0 200px 0;
}
.portfolio-preview__title {
  max-width: 627px;
  margin-bottom: 13px;
}
.portfolio-preview__paragraph {
  max-width: 499px;
  margin-left: auto;
  margin-bottom: 94px;
}
.portfolio-preview__slider {
  padding: 32px 0;
  border-top: 1px solid var(--color-2);
  border-bottom: 1px solid var(--color-2);

  margin-bottom: 80px;
}
.portfolio-preview__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio-preview__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;

  line-height: 130%;
  white-space: nowrap;

  cursor: pointer;

  -webkit-font-feature-settings: "pnum" on, "lnum" on;

  -moz-font-feature-settings: "pnum" on, "lnum" on;

  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--color-2);
}
.portfolio-preview__nav-item--active {
  color: var(--color-1);
}

.portfolio-preview__nav-item-count {
  margin-left: 4.8px;
  margin-top: -5px;
  font-weight: 500;
  font-size: 13px;
}

.portfolio-preview__items,
.portfolio-preview__slider {
  margin-right: -10%;
  margin-left: 0.1%;
}
.portfolio-preview__slider {
  padding-right: 10%;
}
.portfolio-preview__items {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-gap: 160px 0px;
  margin-bottom: 118px;
}

.portfolio-preview__item--1 {
  grid-column: 1/15;
  margin-right: 4.8%;
}
.portfolio-preview__item--2 {
  margin-left: -1%;
  margin-right: 1.9%;
  grid-column: 15/20;
}
.portfolio-preview__item--3 {
  margin-left: 4%;
  margin-right: -0.1%;
  grid-column: 23/31;
}
.portfolio-preview__item--4 {
  grid-column: 1/9;
  margin-right: 3.5%;
}
.portfolio-preview__item--5 {
  grid-column: 12/17;
  margin-left: 3%;
  margin-right: -2%;
}
.portfolio-preview__item--6 {
  margin-right: -0.55%;
  margin-left: -1.6%;
  grid-column: 18/31;
}
.portfolio-preview__item--7 {
  grid-column: 1/11;
  margin-right: -5.35%;
}
.portfolio-preview__item--8 {
  grid-column: 12/20;

  margin-right: 2%;
  margin-left: 2%;
}

.portfolio-preview__item--9 {
  grid-column: 23/31;
  margin-left: 4%;
  margin-right: -0.76%;
}

.portfolio-preview__item--7,
.portfolio-preview__item--8,
.portfolio-preview__item--9 {
  margin-top: 3px;
}

.portfolio-preview__item--10 {
  display: none;
}
.portfolio-preview__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.portfolio-preview__btn {
  padding: 16px 93px;
  margin-left: 10.1%;
}

@media (max-width: 1600px) {
  .portfolio-preview__items,
  .portfolio-preview__slider {
    margin-right: 0;
  }
  .portfolio-preview__slider {
    padding-right: 5%;
  }
  .portfolio-preview__btn {
    margin-left: 0;
  }
}
@media (max-width: 1100px) {
  .portfolio-preview__item--2 {
    margin: 0;
    grid-column: 15/22;
  }
  .portfolio-preview__item--5 {
    grid-column: 11/17;
    margin: 0 0 0 -1%;
  }
  .portfolio-preview__item--8 {
    grid-column: 12/22;
    margin: 0;
  }
}
@media (max-width: 800px) {
  .portfolio-preview__inner {
    padding: 80px 0;
  }
  .portfolio-preview__title {
    max-width: 360px;
    margin-bottom: 45px;
  }
  .portfolio-preview__paragraph {
    max-width: 364px;
    margin-right: 3.3%;
    margin-bottom: 74px;

    font-size: 15px;
    line-height: 133%;
  }

  .portfolio-preview__slider {
    margin-right: -20px;
    position: relative;
    padding: 24px 2% 20px 0;
    margin-bottom: 60px;
    border-color: transparent;
  }
  .portfolio-preview__slider::after,
  .portfolio-preview__slider::before {
    content: "";
    position: absolute;
    max-width: 98%;
    right: 0;
    left: 0;
    height: 1px;
    background-color: var(--color-2);
  }
  .portfolio-preview__slider::before {
    top: 0;
  }

  .portfolio-preview__slider::after {
    bottom: 0;
  }
  .portfolio-preview__nav-item {
    font-size: 17px;
    line-height: 141%;
  }
  .portfolio-preview__nav-item-count {
    margin-left: 4.6px;
    margin-top: 0.5px;

    font-size: 12px;
    line-height: 141%;
  }

  /* items */

  .portfolio-preview__item--7,
  .portfolio-preview__item--8,
  .portfolio-preview__item--9 {
    margin-top: 0;
  }
  .portfolio-preview__items {
    grid-gap: 77px 0;
    grid-auto-flow: dense;
    margin-bottom: 64px;
  }
  .portfolio-preview__item--2 {
    grid-column: 21/31;
  }
  .portfolio-preview__item--2 {
    grid-column: 21/31;
  }
  .portfolio-preview__item--3 {
    margin-left: 3%;
    grid-column: 13/31;
  }
  .portfolio-preview__item--4 {
    grid-column: 1/16;
    margin: 0;
  }

  .portfolio-preview__item--4 .preview-card__img-wrapper {
    min-height: 465px;
  }

  .portfolio-preview__item--5 {
    grid-column: 1/11;
    margin: 0 3% 0 0;
  }

  .portfolio-preview__item--6 {
    margin-left: -3.8%;
    grid-column: 23/31;
  }
  .portfolio-preview__item--6 .preview-card__img-wrapper {
    max-height: 229px;
    height: 100%;
  }

  .portfolio-preview__item--7 {
    grid-column: 18/31;
    margin: 1% 0 0 -2%;
  }

  .portfolio-preview__item--8 {
    grid-column: 1/15;
    margin: 0;
  }

  .portfolio-preview__item--8 .preview-card__img-wrapper {
    max-height: 285px;
    height: 100%;
  }

  .portfolio-preview__item--9 {
    grid-column: 1/18;
    margin: 2% -2% 0 0;
  }

  .portfolio-preview__item--10 {
    grid-column: 21/31;
    display: block;
    margin: 2% 0 0 2.2%;
  }

  .portfolio-preview__btn {
    padding: 12px;
    max-width: 320px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (max-width: 600px) {
  .portfolio-preview__slider {
    margin-right: -12px;
  }
  .portfolio-preview__inner {
    padding: 63px 0;
  }
  .portfolio-preview__title {
    max-width: 244px;
    margin-bottom: 32px;
  }
  .portfolio-preview__paragraph {
    max-width: 266px;
    margin: 0 0 44px auto;
  }

  .portfolio-preview__slider {
    padding: 18px 1% 12px 0;
    margin-bottom: 56px;
  }
  .portfolio-preview__nav-item {
    font-size: 15px;
    line-height: 133%;
  }
  .portfolio-preview__nav-item-count {
    margin-top: 0;
    font-size: 9px;
  }

  /* items */
  .portfolio-preview__items {
    grid-gap: 44px 0;
    margin-bottom: 52px;
  }
  .portfolio-preview__item .preview-card__link {
    padding-bottom: 7px;

    font-size: 15px;
    line-height: 133%;
  }
  .portfolio-preview__item--1 {
    grid-column: 1/22;
    grid-row: 1;
    margin-right: 6%;
  }
  .portfolio-preview__item--2 {
    grid-row: 3;
    margin-left: -1%;
    grid-column: 8/31;
  }

  .portfolio-preview__item--3 {
    grid-row: 4;
    margin: 0;
    grid-column: 1/28;
  }

  .portfolio-preview__item--4 {
    grid-row: 5;
    grid-column: 11/31;
  }

  .portfolio-preview__item--5 {
    grid-row: 2;
    grid-column: 4/25;
    margin-left: -1%;
    margin-right: 1%;
  }

  .portfolio-preview__item--5 .preview-card__link {
    font-size: 17px;
    line-height: 141%;
    padding-bottom: 12px;
  }
  .portfolio-preview__item--6 {
    grid-column: 6/26;
    margin-right: -2%;
  }

  .portfolio-preview__item--6 .preview-card__link {
    font-size: 17px;
    line-height: 141%;
    padding-bottom: 12px;
  }

  .portfolio-preview__item--10,
  .portfolio-preview__item--8,
  .portfolio-preview__item--9,
  .portfolio-preview__item--7 {
    display: none;
  }

  .portfolio-preview__btn {
    max-width: 335px;
  }
}

@media (max-width: 400px) {
  .portfolio-preview__item--2 .preview-card__img-wrapper {
    max-height: 183px;
  }
  .portfolio-preview__item--2 .preview-card__img-wrapper {
    max-height: 183px;
  }
  .portfolio-preview__item--3 .preview-card__img-wrapper {
    max-height: 285px;
  }

  .portfolio-preview__item--4 .preview-card__img-wrapper {
    min-height: 130px;
    max-height: 188px;
  }
  .portfolio-preview__item--5 .preview-card__img-wrapper {
    min-height: 280px;
  }
  .portfolio-preview__item--6 .preview-card__img-wrapper {
    height: 280px;
    max-height: 280px;
  }
}
