.product {
}
.product__inner {
}
.product__top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 140px;
}
.product__bottom {
  max-width: 632px;
  margin: 0 auto;
  text-align: center;
}
.product__title {
  margin: 10px 0 47px 0;
}
.product__img-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px;

  max-width: 765px;
  max-height: 820px;
  height: 100%;
  width: 100%;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: var(--color-3);
}
.product__img {
  max-width: 328.89px;
  max-height: 740px;
  width: 100%;
  height: 100%;
}
.product__info {
  margin-left: 163px;
  max-width: 631px;
  width: 100%;
}

.product__form-title {
  margin-bottom: 22px;
}

.product__size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product__form-label--size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 32px;
  padding: 12px 0;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 141%;

  text-align: center;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  -moz-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--color-1);
}

.product__form-radio {
  margin-right: 10px;
}

.product__pay {
  max-width: 584px;
  margin: 0 auto 66px auto;
}

.product__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-bottom: 17px;
}

.product__set-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-bottom: 36px;
}
.product__set-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 44px;
  margin-bottom: 24px;

  position: relative;
}
.product__set-item::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;

  background-color: var(--color-2);
}

.product .door-color__text {
  color: var(--color-1);
}
.product
  .door-color__input-checkbox:checked
  + .door-color__custom-checkbox::after {
  border-color: var(--color-1);
}

.product__btn-submit {
  width: 100%;
  background-color: var(--color-1);
  color: var(--color-4);
}
