.product {
}
.product__inner {
  padding-bottom: 78px;
  margin-bottom: 150px;
  border-bottom: 1px solid var(--color-6);
}
.product__top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 140px;
}
.product__bottom {
  max-width: 632px;
  margin: 0 auto;
  text-align: center;
}
.product__title {
  margin: 10px 0 47px 0;
}
.product__img-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px;

  max-width: 765px;
  max-height: 820px;
  height: 100%;
  width: 100%;

  display: -webkit-box;

  display: -webkit-flex;

  display: -moz-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: var(--color-3);
}

.product__img {
  max-width: 328.89px;
  max-height: 740px;
  width: 100%;
  height: 100%;
}
.product__info {
  margin-left: 2.5%;
  max-width: 631px;
  min-width: 500px;
  width: 100%;
}

.product__form-title {
  margin-bottom: 22px;
}
.product__form-subtitle {
  margin-bottom: 22px;
}
.product__size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 49px;
}
.product__form-label--size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 34px;
  padding: 12px 0;

  cursor: pointer;
}
.product__form-size-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 141%;

  text-align: center;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  -moz-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;

  color: var(--color-1);

  -webkit-transition: all, var(--transition-duration-hover);

  -o-transition: all, var(--transition-duration-hover);

  -moz-transition: all, var(--transition-duration-hover);

  transition: all, var(--transition-duration-hover);
}

.product .input-radio:checked ~ .product__form-size-text {
  font-weight: 600;
}

.product__form-radio {
  margin-right: 8px;
}

.product__pay {
  max-width: 584px;
  margin: 0 auto 65px auto;
}

.product__form-color {
  margin-bottom: 48px;
}

.product__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  margin-bottom: 23px;
}

.product__set-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 44px;
  max-width: 451px;
  margin-bottom: 26px;
}
.product__set-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
}
.product__set-item::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin-right: 12px;

  background-color: var(--color-2);
}

.product .door-color__text {
  color: var(--color-1);
}
.product
  .door-color__input-checkbox:checked
  + .door-color__custom-checkbox::after {
  border-color: var(--color-1);
}

.product__btn-submit {
  padding: 20px;
  width: 100%;
  background-color: var(--color-1);
  color: var(--color-4);
}

.product__description {
  margin-left: -1px;
}
.product__description-title {
  margin-bottom: 18px;
}
.product__description-paragraph {
  max-width: 601px;
  margin-bottom: 17px;
}
.product__description-img-wrapper {
  max-width: 633px;
  max-height: 300px;
}
@media (max-width: 1000px) {
  .product__img-wrapper {
    padding: 20px;
  }
}
@media (max-width: 800px) {
  .product__inner {
    padding-bottom: 39px;
    margin-bottom: 120px;
  }

  .product__img-wrapper {
    padding: 20px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 240px;
    max-width: 240px;
  }
  .product__img {
    max-width: 200px;
    max-height: 450px;
  }

  .product .crumbs {
    display: none;
  }
  .product__info {
    max-width: 444px;
    min-width: auto;
  }
  .product__title {
    margin: 0 0 30px 0;
  }

  .product__form-subtitle {
    margin-bottom: 11px;
  }

  .product__form-size-text {
    font-size: 15px;
    line-height: 133%;
  }
  .product__form-label--size {
    font-size: 15px;
    line-height: 133%;
    margin-right: 16px;
    margin-bottom: 4px;
  }
  .product__form-radio {
    margin-right: 10px;
  }

  .product__size {
    margin-right: -10px;
    margin-bottom: 25px;
  }
  .product__form-color {
    margin-top: 24px;
  }

  .product .door-color__label {
    margin-right: 18px;
  }
  .product__form-color {
    margin-right: -14px;
    margin-bottom: 39px;
  }

  .product__pay {
    max-width: 412px;
    margin-bottom: 39px;
  }
  .product__price {
    margin-bottom: 29px;
  }
  .product__pay .product__form-subtitle {
    margin-bottom: 18px;

    font-size: 17px;
    line-height: 141%;
  }

  .product__set-list {
    grid-gap: 20px 40px;
    max-width: 391px;
    margin-bottom: 26px;
  }
  .product__set-item::before {
    width: 24px;
    height: 24px;
  }
  .product__set-item {
    font-size: 15px;
    line-height: 133%;
  }

  .product__btn-submit {
    padding: 17px 4px;
  }

  .product__description-title {
    margin-bottom: 17px;
  }
  .product__description-paragraph {
    max-width: 444px;
    margin-bottom: 16px;
  }
  .product__description-img-wrapper {
    height: 300px;
  }
  .product__top {
    margin-bottom: 86px;
  }

  .product__bottom {
    max-width: 512px;
  }
}
@media (max-width: 700px) {
  .product__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .product__img-wrapper {
    position: relative;
    top: auto;
    max-width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 20px;
    margin: 0 0 32px 0;
  }
  .product__info {
    max-width: 500px;
  }
}
