@import "./product-item.css";
/*         <!-- Products-grid - отдельный css компонент отвечающий за dekstop разметку элементов в сетке для dekstop версии, а other-collection__item--index отвечает за адаптпив отдельно под каждый блок. Т.к у одинаковой сетки products-grid разный адаптив  --> */
.products-grid {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-gap: 149px 0;
}

.products-grid__item--1 .product-item__img,
.products-grid__item--5 .product-item__img,
.products-grid__item--9 .product-item__img,
.products-grid__item--10 .product-item__img,
.products-grid__item--14 .product-item__img,
.products-grid__item--16 .product-item__img,
.products-grid__item--20 .product-item__img,
.products-grid__item--24 .product-item__img {
  max-height: 760px;
}
.products-grid__item--2 .product-item__img,
.products-grid__item--3 .product-item__img,
.products-grid__item--4 .product-item__img,
.products-grid__item--6 .product-item__img,
.products-grid__item--7 .product-item__img,
.products-grid__item--8 .product-item__img,
.products-grid__item--11 .product-item__img,
.products-grid__item--12 .product-item__img,
.products-grid__item--13 .product-item__img,
.products-grid__item--15 .product-item__img,
.products-grid__item--17 .product-item__img,
.products-grid__item--18 .product-item__img,
.products-grid__item--19 .product-item__img,
.products-grid__item--21 .product-item__img,
.products-grid__item--22 .product-item__img,
.products-grid__item--23 .product-item__img {
  min-height: 501px;
}

/*  */
.products-grid__item--1,
.products-grid__item--10,
.products-grid__item--16 {
  grid-column: 1/17;
  margin-right: -4%;
}

.products-grid__item--2,
.products-grid__item--11,
.products-grid__item--17 {
  margin-left: 4%;
  margin-right: -9%;
  grid-column: 21/30;
}
.products-grid__item--3,
.products-grid__item--12,
.products-grid__item--18 {
  grid-column: 31/41;
  margin-left: 5.5%;
}

/*  */
.products-grid__item--4,
.products-grid__item--13,
.products-grid__item--19 {
  grid-column: 1/10;
  margin-right: -6%;
}
.products-grid__item--5,
.products-grid__item--14,
.products-grid__item--20 {
  margin-left: 0.5%;
  margin-right: -2%;
  grid-column: 11/27;
}
.products-grid__item--6,
.products-grid__item--15,
.products-grid__item--21 {
  grid-column: 31/41;
  margin-left: 5%;
}

/*  */
.products-grid__item--7,
.products-grid__item--22 {
  grid-column: 1/10;
  margin-right: -6%;
}
.products-grid__item--8,
.products-grid__item--23 {
  margin-left: 1%;
  margin-right: 4%;
  grid-column: 11/21;
}
.products-grid__item--9,
.products-grid__item--24 {
  grid-column: 25/41;
  margin-left: -1%;
}

/*  */

@media (max-width: 1250px) {
  .products-grid__item--2 .product-item__img,
  .products-grid__item--3 .product-item__img,
  .products-grid__item--4 .product-item__img,
  .products-grid__item--6 .product-item__img,
  .products-grid__item--7 .product-item__img,
  .products-grid__item--8 .product-item__img,
  .products-grid__item--11 .product-item__img,
  .products-grid__item--12 .product-item__img,
  .products-grid__item--13 .product-item__img,
  .products-grid__item--15 .product-item__img,
  .products-grid__item--17 .product-item__img,
  .products-grid__item--18 .product-item__img,
  .products-grid__item--19 .product-item__img,
  .products-grid__item--21 .product-item__img,
  .products-grid__item--22 .product-item__img,
  .products-grid__item--23 .product-item__img {
    min-height: 300px;
  }
}
@media (max-width: 1000px) {
  .products-grid {
    grid-gap: 100px 0;
  }
}
