.project-hero__inner {
  margin-bottom: 70px;
}

.project-hero__back {
  display: block;
  margin-bottom: 12px;

  font-size: 15px;
  line-height: 133%;
  text-decoration: none;

  color: var(--color-1);
}
.project-hero__title {
  max-width: 750px;
  margin-bottom: 82px;
}
.project-hero__img {
  width: 100%;
  min-height: 380px;
}

@media (max-width: 900px) {
  .project-hero__inner {
    margin-bottom: 44px;
  }
}
@media (max-width: 800px) {
  .project-hero__title {
    font-size: 54px;
    margin-bottom: 40px;
  }

  .project-hero__img {
    width: 100%;
    min-height: 250px;
  }
}

@media (max-width: 600px) {
  .project-hero__inner {
    margin-bottom: 46px;
  }

  .project-hero__title {
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 24px;
  }
}
