.project-info {
}
.project-info__inner {
  margin-bottom: 109px;
}
.project-info__title {
  margin-bottom: 68px;
  max-width: 700px;
}
.project-info__box {
  max-width: 899px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 165px;
}
.project-info__paragraph {
  max-width: 368px;
}

@media (max-width: 900px) {
  .project-info__inner {
    margin-bottom: 80px;
  }
  .project-info__box {
    max-width: 899px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 50px;
  }
}
@media (max-width: 800px) {
  .project-info__title {
    margin-bottom: 51px;
    max-width: 470px;
  }

  .project-info__box {
    max-width: 656px;
  }

  .project-info__paragraph {
    max-width: 273px;
  }
}

@media (max-width: 600px) {
  .project-info__inner {
    margin-bottom: 46px;
  }

  .project-info__title {
    margin-bottom: 24px;
  }
  .project-info__box {
    grid-template-columns: 1fr;
    grid-gap: 24px;
  }
  .project-info__paragraph {
    max-width: 100%;
  }
}
