.showroom {
  background-color: var(--color-3);
}
.showroom__inner {
  padding-bottom: 200px;
}
.showroom__title {
  margin-bottom: 54px;
}

.showroom__video-wrapper {
  height: 497px;
  margin-bottom: 53px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.showroom__info {
  max-width: 498px;
  margin-left: auto;
}
.showroom__paragraph {
  margin-bottom: 24px;
}
.showroom__link {
  display: inline-block;
}
