.space-for-designers {
}
.space-for-designers__inner {
  margin-bottom: 100px;
}
.space-for-designers__title {
  max-width: 619px;
}
.space-for-designers__paragraph {
  max-width: 498px;
  margin-top: -0.8%;
  margin-left: auto;
  margin-bottom: 100px;
}
.space-for-designers__slider {
}
.space-for-designers__list {
}
.space-for-designers__item {
  /* max-width: 235px;
  max-height: 370px; */
  /* width: 100%;
  height: 100%; */
}
.space-for-designers__item.swiper-slide-next {
  /* -webkit-transform: translateY(-16%);
  -moz-transform: translateY(-16%);
  -ms-transform: translateY(-16%);
  -o-transform: translateY(-16%);
  transform: translateY(-16%);
  max-width: 499px;
  width: 100% !important; */
}

.space-for-designers__controlers {
  /* position: absolute;
  top: 20%;
  right: 0; */
  margin-left: auto;
  max-width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.space-for-designers__slider-arrows {
}
.space-for-designers__pagination {
  text-align: right;
}
