.we-in-touch {
  background-color: var(--color-3);
}
.we-in-touch__inner {
  padding: 140px 0;
  margin-bottom: 100px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.we-in-touch__box {
  margin-right: 20px;
  margin-left: 3px;
  max-width: 629px;
  width: 100%;
}

.we-in-touch__title {
  margin-bottom: 31px;
}
.we-in-touch__paragraph {
  max-width: 392px;
  margin-bottom: 45px;
}
.we-in-touch__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.we-in-touch__label {
  position: relative;
  margin-bottom: 19px;
}

.we-in-touch__input {
  margin-top: 7px;
}

/* active state */
.we-in-touch__text {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);

  -webkit-transition: all, var(--transition-duration-hover);

  -o-transition: all, var(--transition-duration-hover);

  -moz-transition: all, var(--transition-duration-hover);

  transition: all, var(--transition-duration-hover);
}
.we-in-touch__input:focus + .we-in-touch__text,
.we-in-touch__input:not(:placeholder-shown) + .we-in-touch__text {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);

  font-size: 13px;
  line-height: 138%;

  opacity: 0.5;
}
/* error state */
.we-in-touch__error {
  display: none;
  margin-top: 6px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;

  color: var(--color-error);
}
.we-in-touch__label--invalid .we-in-touch__input {
  border-color: var(--color-error);
}
.we-in-touch__label--invalid .we-in-touch__error {
  display: inline-block;
}

.we-in-touch__img {
  margin-top: 2.3%;
  max-width: 500px;
  max-height: 620px;
  width: 100%;
  height: 100%;
  min-width: 350px;
}

.we-in-touch__btn {
  margin-top: 14px;
  max-width: 321px;

  color: var(--color-4);
  background-color: var(--color-1);
}

@media (max-width: 1000px) {
  .we-in-touch__img {
    min-width: 300px;
  }
  .we-in-touch__box {
    min-width: 460px;
  }
}

@media (max-width: 800px) {
  .we-in-touch__inner {
    padding: 72px 0;
    margin-bottom: 38px;
  }
  .we-in-touch__title {
    margin-bottom: 26px;
  }
  .we-in-touch__paragraph {
    max-width: 264px;
    margin-bottom: 24px;
  }
  .we-in-touch__box {
    margin-left: 19px;
    min-width: auto;
  }

  .we-in-touch__form {
    max-width: 319px;
    margin-left: 2px;
  }
  .we-in-touch__label {
    margin-bottom: 16px;
  }
  .we-in-touch__btn {
    margin-top: 16px;
    max-width: 220px;
  }
  .we-in-touch__img {
    max-width: 270px;
    max-height: 380px;
    height: 380px;
    min-width: 200px;
    margin: 9% 2.5% 0 0;
  }
}

@media (max-width: 640px) {
  .we-in-touch__img {
    display: none;
  }
  .we-in-touch__box {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 460px) {
  .we-in-touch__inner {
    padding: 57px 0;
    margin-left: 8px;
    margin-bottom: 22px;
  }

  .we-in-touch__title {
    margin-bottom: 13px;
  }
  .we-in-touch__paragraph {
    margin-bottom: 11px;
  }
  .we-in-touch__label {
    margin-bottom: 9px;
  }
  .we-in-touch__form {
    margin-left: 0px;
    width: 100%;
    max-width: 315px;
  }
  .we-in-touch__btn {
    margin-top: 15px;
    max-width: 100%;
  }
}
