.where-is__inner {
  margin-bottom: 208px;
}
.where-is__title {
  margin-bottom: 116px;
}
.where-is__box {
  max-width: 1163px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.where-is__info {
  margin-top: 4.3%;
  margin-left: 11.35%;
  margin-right: 3%;
}
.where-is__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  margin-bottom: 20px;
}
.where-is__link::after {
  bottom: -7px;
}
.where-is__map {
  width: 100%;
  max-width: 500px;
}
.where-is__map-wrapper {
  max-height: 450px;
  height: 100%;
  width: 100%;
  margin-bottom: 24px;
}
.where-is__map-link {
  font-size: 20px;
  line-height: 140%;
}
@media (max-width: 900px) {
  .where-is__inner {
    margin-bottom: 63px;
  }
}

@media (max-width: 800px) {
  .where-is__title {
    margin-bottom: 26px;
  }
  .where-is__map-wrapper {
    max-height: 315px;
    margin-bottom: 20px;
  }
  .where-is__map {
    max-width: 350px;
  }

  .where-is__info {
    margin-top: 4.5%;
    margin-left: 4%;
    margin-right: 2%;
  }

  .where-is__link {
    margin-bottom: 17px;
  }
}

@media (max-width: 600px) {
  .where-is__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .where-is__map {
    max-width: 336px;
    margin-left: auto;
  }
  .where-is__info {
    margin: 0 0 15px 3%;
  }
  .where-is__map-wrapper {
    height: 302.4px;
  }
}

@media (max-width: 460px) {
  .where-is__title {
    margin-bottom: 32px;
  }

  .where-is__inner {
    margin-bottom: 60px;
  }
  .where-is__info {
    margin: 0 0 15px 15.9%;
  }

  .where-is__link {
    padding-right: 0;
    margin-bottom: 15px;

    font-size: 17px;
    line-height: 24px;
  }
  .where-is__link::before {
    content: none;
    width: 0;
    height: 0;
  }

  .where-is__map-link {
    font-size: 17px;
  }
}
